.cart-widget{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCCCCC;
    color: #000;
    padding: 3px;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    transition-duration: 1s;
}

.cart-widget:hover{
    background-color: #6e6e6e;
    color: #fff;
}

.cart-widget p{
    position: relative;
    top: 9px;
    font-weight: bold;
}

.cart{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

@media(max-width:650px){
    .cart-widget{
        height: 50px;
        width: 50px;
    }
    .cart{
        margin-right: 5px;
    }
}