@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=PT+Serif&family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.item-list-container{
    width: 80%;
    margin-left: 20%;
    margin-right: 0;
}

.item-list-filter{
    width: 80%;
    margin-left: 20%;
    margin-right: 0;
    margin-top: 100px;
}

@media (max-width: 700px){
    .item-list-container{
        width: 100%;
        margin-left: 0%;
    }
    .item-list-filter{
        width: 100%;
        margin-left: 0;
    }
}