.checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-top: 100px;
    height: 89vh;
    width: 100%;
}

.checkout h3{
    background-color: #CCCCCC;
    color: #474747;
    padding: 10px;
    border-radius: 10px;
    margin: 0 10px;
    width: 50vw;
}

.checkout-container{
    margin-left: 20%;
    margin-top: 100px;
    height: 89vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px){
    .checkout-container, .checkout{
        width: 100%;
        margin-left: 0;
    }
}