.navb{
    background-color: #474747;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 1;
}

.navb ul{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    margin-right: 40px;
}

.navb ul li{
    list-style: none;
    margin: 0 10px;
    transition-duration: 0.4s;
    padding: 15px 0;
}

.navb ul li a{
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition-duration: 1s;
}

.navb ul .item-effect a{
    background-color: #6e6e6e;
}

.navb ul .item-effect a:hover{
    background-color: #cccccc;
}