.carousel{
    width: 100%;
    margin: 10vh 0 auto auto;
}

.carousel-img{
    height: 90vh;
}


@media (max-width: 1500px){
    .carousel-img{
        height: 85vh;
    }
}

@media (max-width: 1250px){
    .carousel-img{
        height: 70vh;
    }
}

@media (max-width: 1000px){
    .carousel-img{
        height: 55vh;
    }
}

@media (max-width: 750px){
    .carousel-img{
        height: 40vh;
    }
}

@media (max-width: 500px){
    .carousel-img{
        height: 25vh;
    }
}